name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  DOTNET_VERSION: "10.0.x"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Restore dependencies
        run: dotnet restore ./src/Padel.slnx

      - name: Build
        run: dotnet build ./src/Padel.slnx --no-restore --configuration Release

      - name: Test
        run: dotnet test ./src/Padel.slnx --no-build --configuration Release --verbosity normal

      - name: Publish
        run: dotnet publish ./src/Padel.slnx --no-build --configuration Release --output ./publish
